<%= render "shared/header" %>
<div class="container">
  <h2 id="au_menu">~ Au Menu ~</h2>
  <div class="cocktail_grid">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail.id) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('<%= cl_image_path cocktail.photo.key %>')">
          <%= cocktail.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
