<div class="container">
  <div class="container_2">
    <h1>Add a new cocktail !</h1>

    <%= render "form" %>

    <p class="btn btn-outline-success" id="add_btn"><%= link_to "All the cocktails", cocktails_path %></p>
  </div>
</div>
