.cocktail_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.cocktail_flexbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .description {
    width: 50%;
  }
}

#card-category-banner {
  margin-bottom: 20px;
}

h1 {
  font-family: 'Poppins', ;
}

h2 {
  text-align: center;
  margin: 90px 40px;
  font-family: 'Poppins', ;
  color: rgb(160, 160, 160);
}

/* responsiv */

@media(max-width: 1050px) {
/* start of medium tablet styles */
  .cocktail_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 767px) {
/* start of medium tablet styles */
  .cocktail_grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 479px) {
/* start of phone styles */
  .cocktail_grid {
    grid-template-columns: 1fr;
  }
}
