.container_2 {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  padding: 30px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#add_btn {
  margin-top: 30px;
}

@media(max-width: 767px) {
/* start of medium tablet styles */
  .container_2 {
    width: 100%;
  }

  .container_2 h1 {
    font-size: 30px;
  }
}

@media(max-width: 479px) {
/* start of phone styles */

}
