
.cocktail_ingrediants {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  padding: 20px;
  margin-bottom: 30px;
}

.cocktail_ingrediants ul {
  list-style:none;
  margin-bottom: 12px;
  padding: 0
}

.btn-div {
  margin-top: 20px;
}

.review {
  border-top: solid 1px rgb(220, 220, 220);
  padding: 20px;

  li {
    margin-bottom: 10px;
  }
}

/* responsiv */

@media(max-width: 767px) {
/* start of medium tablet styles */
  .container_2 {
    width: 100%;
  }

  .container_2 h1 {
    font-size: 30px;
  }
}

@media(max-width: 479px) {
/* start of phone styles */

}
