<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1560963689-b5682b6440f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1886&q=80);">
  <div class="container">
    <h1>Cocktailitos</h1>
    <p>The cocktail bible</p>

    <form action= "/" class="form-inline">
      <input class="form-control mr-sm-2" name= "search" type="search" placeholder="Search by name" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
</div>
