.cocktail_card_detail {
  margin: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
}

.cocktail_img {
  width: 50%;
}

.cocktail_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second_part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;

  .description {
    margin-bottom: 40px;
  }
}

.description .btn {
  margin: 20px 0px;
}

.second_part_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  .first_element {
    width: 65%;
    padding-right: 60px;
    border-right: solid 1px rgb(220, 220, 220);
  }

  .second_element {
    flex-grow: 1;
    padding-left: 50px;
  }
}

/* responsiv */
@media(max-width: 900px) {
/* start of medium tablet styles */
  .cocktail_img {
    width: 100%;
  }
}

@media(max-width: 767px) {
/* start of medium tablet styles */
  .cocktail_card_detail {
    display: block;
    max-height: none;
    margin: 40px;
  }
  .cocktail_img {
    width: 100%;
  }

  .second_part_flex {
    display: block;

    .first_element {
      width: 100%;
      border: none;
    }

    .second_element {
      padding: 0;
    }
  }


}
