.navbar {
  position: sticky;
  top: 0;

  a {
   color: #1EDD88;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }
}

.navbar_flexbox {
  display: flex;
}

p {
  margin: 0;
}

#Add_cocktail {
  margin-left: 12px;
}

p:hover a {
    color: black;
}
